<div class="card shadow border-0 text-center">
        <div class="card-header bg-primary text-light">{{ title }}</div>
        <div class="card-body">
                <h5 class="text-center fs-3 fw-bold text-primary">{{ value }}</h5>
                <p class="card-text small">
                        {{ description }} 
                </p>
        </div>
</div>
